.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.img-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    max-width: 100%;
    height: auto;
}

.info-container {
    flex: 1;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-container h1 {
    font-size: 1.9em;
    letter-spacing: 0.03rem;
}

.info-container p {
    line-height: 1.7rem;
    font-size: 1.1rem;
    margin-top: 20px;
}

.info-container a {
    color: #000;
    text-decoration: none;
    font-size: 1.1rem;
    padding-bottom: 2px;
    margin-top: 6px;
    border-bottom: 3px solid #FF4641;
    display: inline-block!important;
    max-width: 115px !important;
}
